<!-- Resume Page
================================================== -->
<div id="resume">
    <!-- Resume Section -->
    <div class="row">
        <section class="education">
            <div class="section-title top_30"><span></span><h2>My Resume</h2></div>
            <div class="row">
                <!-- Working History -->
                <div class="working-history col-md-6 padding_15 padbot_30">
                    <ul class="timeline col-md-12 top_45">
                        <li><i class="fa fa-suitcase" aria-hidden="true"></i><h2 class="timeline-title">Working History</h2></li>
                        <!-- a work -->
                        <li><h3 class="line-title">Art  Director - Facebook Inc</h3>
                            <span>2010 - Present</span>
                            <p class="little-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Senior Designer - Google</h3>
                            <span>2008 - 2010</span>
                            <p class="little-text">So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Junior Designer - Creative Shake</h3>
                            <span>2005 - 2008</span>
                            <p class="little-text">Excited him now natural saw passage offices you minuter. At by asked being court hopes. Farther so friends am to detract.</p>
                        </li>
                    </ul>
                </div>
                <!-- Education History -->
                <div class="education-history col-md-6 padding_15 padbot_30">
                    <ul class="timeline col-md-12 top_45">
                        <li><i class="fa fa-graduation-cap" aria-hidden="true"></i><h2 class="timeline-title">Education History</h2></li>
                        <!-- a work -->
                        <li><h3 class="line-title">Abc University of Los Angeles</h3>
                            <span>2004 - 2009</span>
                            <p class="little-text">Expenses as material breeding insisted building to in. Continual so distrusts pronounce by unwilling listening. Thing do taste on we manor.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Drawing Course</h3>
                            <span>2003 - 2004</span>
                            <p class="little-text">So insisted received is occasion advanced honoured. Among ready to which up. Attacks smiling and may out assured moments man nothing outward.</p>
                        </li>
                        <!-- a work -->
                        <li><h3 class="line-title">Abc High School</h3>
                            <span>2000 - 2003</span>
                            <p class="little-text">Excited him now natural saw passage offices you minuter. At by asked being court hopes. Farther so friends am to detract.</p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <!-- Discography Section -->
    <div class="row">
        <section class="discography col-md-12 padding_45 padbot_45">
            <div class="section-title bottom_45"><span></span><h2>Discography</h2></div>
            <!-- an album -->
            <div class="row">
                <div class="col-md-4 album-cover bottom_30">
                    <img src="images/discography-1.jpg" alt="">
                    <div class="links">
                        <a href="#">SPOTIFY </a>|<a href="#"> ITUNES </a>
                    </div>
                </div>
                <div class="col-md-8 album bottom_60">
                    <ul>
                        <li><span>Released April 14, 2017 </span> <br>Special Effects</li>
                        <li>1. The Procedure (Intro) </li>
                        <li>2. Aw Yeah? (interVENTion) </li>
                        <li>3. Lacrimosa </li>
                        <li>4. Condolences (Skit) </li>
                        <li>5. On the Bible (Ft. T.I. & Zuse) </li>
                        <li>6. Shroud (Ft. Krizz Kaliko) </li>
                        <li>7. More Psycho Messages (Skit) </li>
                        <li>8. Psycho Bitch III (Ft. Hopsin) </li>
                        <li>9. Wither (Ft. Corey Taylor) </li>
                        <li>10. Dead Alive (Skit) (Ft. Godemis) </li>
                        <li>11. Hood Go Crazy (Ft. 2 Chainz & B.o.B) </li>
                        <li>12. Bass Ackwards (Ft. Big Scoob, Lil Wayne & Yo Gotti)</li>
                    </ul>
                </div>
            </div>
            <hr>
            <!-- an album -->
            <div class="row top_90">
                <div class="col-md-4 album-cover bottom_30">
                    <img src="images/discography-2.jpg" alt="">
                    <div class="links">
                        <a href="#">SPOTIFY </a>|<a href="#"> ITUNES </a>
                    </div>
                </div>
                <div class="col-md-8 album">
                    <ul>
                        <li><span>Released April 14, 2017 </span><br>Strangeulation</li>
                        <li>1. Living for Love</li>
                        <li>2. Devil Pray</li>
                        <li>3. Ghosttown</li>
                        <li>4. Unapologetic Bitch</li>
                        <li>5. Illuminati</li>
                        <li>6. Bitch I'm Madonna (feat. Nicki Minaj)</li>
                        <li>7. Hold Tight</li>
                        <li>8. Joan of Arc</li>
                        <li>9. Iconic (feat. Chance the Rapper & Mike Tyson)</li>
                        <li>10. HeartBreakCity</li>
                        <li>11. Body Shop</li>
                        <li>12. Holy Water</li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</div>
